{% extends "layout.html" %}
{% block content %}

<body>
    <section>
        
        {% for post in posts %}
        <head>
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        </head>
        
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
        <div class="content-section">
          <div class="well">
              <div class="media">
                  <a class="pull-left" href="#">
                      <img class="img-rounded float-left" src="{{ url_for('static', filename = 'profile_pics/' + post.author.image_file) }}">
                    </a>
                    
                  <div class="media-body">
                    <h4 class="media-heading"> <a href="{{ url_for('post', post_id = post.id) }}"> {{post.title}}</a></h4>
                  <p class="text-right">By {{post.author.username}}</p>
                  <p>{{post.content}}</p>
                  <ul class="list-inline list-unstyled">
                      <li><span><i class="glyphicon glyphicon-calendar"></i> {{post.date_posted.strftime("%Y-%m-%d")}} </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 0 comments</span>
                    <li>|</li>
                    <li>
                       <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                      <span><i class="fa fa-facebook-square"></i></span>
                      <span><i class="fa fa-twitter-square"></i></span>
                      <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                    </ul>
               </div>
            </div>
          </div>
         
        
        {% endfor %}
    </section>   
</body>
{% endblock content %}
